<!-- todoapp/templates/todoapp/todo_list.html -->

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>ToDo List</title>
    <link rel="stylesheet" href="{% static 'ToDoApp/todo_list.css' %}">
</head>
<body>
    <div class="top"> 
      <h1>ToDo List</h1> 
      <a id="logout" href="user_logout">logout</a> 
    </div>
    <ul>
        <li class="table-top">
          <b>Title</b>
          <b>Description</b>
          <b>Is Completed</b>
          <b>Edit</b>
          <b>Delete</b>
        </li>
        {% for todo in todos %}
        <li>
            <p><b>{{ todo.title }}</b></p>
            <p>{{ todo.description }}</p>
            <b class="{{todo.status}}">{{ todo.status }}</b>
            <a href="{% url 'todo_update' todo.pk %}">Edit</a>
            <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
          </li>
        {% endfor %}
    </ul>
    <a id="new-todo" href="{% url 'todo_create' %}">Create New ToDo</a>
</body>
</html>
