{% extends 'ToDoApp/login_signup_base.html' %}

{% block header %}
<div class="login-signup">
  <p class="focus"><a href="/user_login">Login</a></p>
  <p><a href="/user_signup">Signup</a></p>
</div>
{% endblock %}

{% block main %}
<main>
  <form method="post" id="login-form">
    {% csrf_token %}

    <div>
      <label for="email">Email</label>
      <input type="text" placeholder="Email ID: abc@xyz.com" name="email" id="email" required/>
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" placeholder="Password" name="password" id="password" required/>
    </div>
    {% if msg %}
      <p class="msg">*{{msg}}</p>
    {% endif %}
    <button id="login">Login</button>
  </form>
</main>

{% endblock %}
